<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Application Logger -->
    <logger name="com.pcamposu.ps3.hfwserver" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- Silent mode for external libraries -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.xbill.DNS" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
</configuration>
